header {
  background-color: $fondo-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;

  .logo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 60px;
      border-radius: 50%;
    }

    h1 {
      color: $verde-oscuro;
      margin: 0;
    }

    p {
      color: $verde-medio;
      font-weight: bold;
      margin: 0;
      font-size: 14px;
    }
  }

  .search-cart {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      padding: 8px 15px;
      border-radius: 20px;
      border: none;
      background-color: $verde-busqueda;
      width: 220px;
      outline: none;
    }

    .carrito {
      font-size: 20px;
      color: $verde-suave;

      i {
        color: $verde-oscuro;  // carrito verde oscuro
        font-size: 22px;
      }
    }
  }
}