/* Layout general */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  background-color: #ffffff;
  color: #4a4a4a;
}

/* Contenedor principal (para centrar y limitar ancho si lo necesitas luego) */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Fade-in de cuando se carga la página web */
body {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}