/* Main / Inicio */

main {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.contenido {
  display: flex;
  gap: 60px;
  max-width: 1100px;
}

.imagen img {
  width: 480px;
  border-radius: 5px;
}

.enlace {
  color: $verde-suave;
  margin-top: 15px;
  font-weight: bold;
  text-align: left;
}

.texto h2 {
  color: $verde-medio;
  font-size: 26px;
}

.texto p {
  line-height: 1.6;
}

.ofrecemos {
  margin-top: 25px;

  p {
    background-color: $verde-busqueda;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    color: $verde-suave;
    font-weight: bold;
  }

  ul {
    margin-top: 10px;
  }
}
