.slider {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 350px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 15px;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Flechas */
.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
  transition: 0.3s;
}

.flecha:hover { background: rgba(0,0,0,0.7); }
.izquierda { left: 10px; }
.derecha { right: 10px; }
