/* HEADER */

$verde-oscuro: #4b8b0f;
$verde-medio: #6ba329;
$verde-suave: #7bb661;
$verde-busqueda: #f1f7e8;

$fondo-header: #f7fce9;
$fondo-menu: #f5fcd3;

/* NAV */

$color-verde-suave: #7bb661;
$color-verde-oscuro: #3b6b1c;
$color-nav-bg: #f5fcd3;
